// $primary:		#004c66;
// $secondary:		#008c74;
// $tertiary:		#332b40;
// $accent:		#e5dd00;
// $accent2:		#8cb202;

$primary:		#192b33;
$secondary:		#8fb259;
$tertiary:		#cccc52;
$accent:		#ffd933;
$accent2:		#ff7f00;
$grey: 			#F5F5F5;

$sans-serif:	'Asap', sans-serif;
$serif:			'Roboto Slab', serif;