.tableauPlaceholder {
	// margin: 0 auto;
}

.tabContainer {
	// background-color: #ffffff;
	// max-width: 100%;
	// overflow: hidden;
}

.small {
	border-top: solid 1px #cccccc;
	h3 {
		font-size: 16px;
	}

	ul {
		font-size: 12px;
	}
}